@tailwind base;
@tailwind components;
@tailwind utilities;

/*@keyframes blobAnimation {
  0% {
    border-radius: 60% 40% 30% 70% / 60% 30% 70% 40%;
    transform: perspective(1000px) rotateX(10deg) rotateY(-10deg);
  }
  50% {
    border-radius: 30% 60% 70% 40% / 50% 60% 30% 60%;
    transform: perspective(1000px) rotateX(-5deg) rotateY(5deg);
  }
  100% {
    border-radius: 60% 40% 30% 70% / 60% 30% 70% 40%;
    transform: perspective(1000px) rotateX(10deg) rotateY(-10deg);
  }
}

.blob {
  animation: blobAnimation 8s ease-in-out infinite;
}*/

@keyframes blobsAnimation {
  0% {
    border-radius: "70% 30% 50% 50% / 50% 50% 40% 60%";
  }
  50% {
    border-radius: "40% 60% 70% 30% / 40% 60% 30% 70%";
  }
  100% {
    border-radius: "70% 30% 50% 50% / 50% 50% 40% 60%";
  }
}

@keyframes blob {
  0% {
    border-radius: "60% 40% 30% 70% / 60% 30% 70% 40%";
  }
  50% {
    border-radius: "30% 60% 70% 40% / 50% 60% 30% 60%";
  }
  100% {
    border-radius: "60% 40% 30% 70% / 60% 30% 70% 40%";
  }
}
